.cart-blocks {
  flex-grow: 1;
}

.cart-title {
  font-weight: 700;
  font-size: 30px;
  margin: 47px 0 30px 0;
}

.cart-descr {
  font-size: 20px;
  margin-bottom: 53px;
}

.cart-back-to-shopping {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  max-width: 287px;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(90deg, #f0c814 0%, #f0ac15 100%);
  border-radius: 20px;
}
/* --------------START cart.php-------------- */
.cart-info-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.cart-info-blocks-list-products {
  display: flex;
  flex-direction: column;
}

.cart-info-block-products-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-info-block-products-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cart-info-block-products-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid #7d7d7d;
  border-radius: 10px;
  max-width: 82px;
  width: 100%;
  height: 79px;
}

.cart-info-block-products-item-img > img {
  object-fit: contain;
  width: 60px;
  height: 60px;
}

.cart-info-block-products-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cart-info-block-products-total-info {
  max-width: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-info-block-products-item-info-title,
.cart-info-block-products-item-info-price,
.cart-count-item {
  font-size: 14px;
}

.cart-info-block-products-item-info-title > a {
  font-weight: 700;
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-info-block-products-item-info-count {
  max-width: 100px;
  display: grid;
  grid-template-areas: "cart-count plus minus";
  align-items: center;
}

.cart-minus {
  grid-area: minus;
}

.cart-plus {
  grid-area: plus;
}

.cart-count-item {
  grid-area: cart-count;
}

.cart-minus,
.cart-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 13px;
  border-radius: 1px;
  outline: none;
  border: 1px solid #7d7d7d;
  color: #7d7d7d;
  font-weight: 700;
  font-size: 14px;
}

.total {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #7d7d7d;
}

.total-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.total-blocks-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.total-blocks-btn > button {
  cursor: pointer;
  height: 60px;
  max-width: 100%;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(90deg, #f0c814 0%, #f0ac15 100%);
  border-radius: 20px;
}

.total-blocks-finish-title {
  font-size: 20px;
  margin-bottom: 30px;
}

.total-blocks-finist-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.total-blocks-finist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-blocks-finist-item-value,
.total-blocks-finist-item-price {
  font-weight: 700;
  font-size: 14px;
  color: #7d7d7d;
}

.total-checkbox-wrapper {
  margin-bottom: 32px;
}

.total-checkbox-label {
  display: flex;
  align-items: center;
}

.total-checkbox-label.error > .total-check-icon {
  border: 1px solid #a32a2a;
}

.total-checkbox-label.error > .total-checkbox-label-text-agree,
.total-checkbox-label.error
  > .total-checkbox-label-text-agree
  > .total-check-policy {
  color: #a32a2a;
}

.total-checkbox-label input {
  display: none;
}

.total-check-icon {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #7d7d7d;
  border-radius: 2px;
  margin-right: 20px;
}

.total-checkbox-label input:checked ~ .total-check-icon::before {
  display: block;
}

.total-check-icon::before {
  content: "";
  position: absolute;
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #7d7d7d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.total-checkbox-label-text-agree,
.total-check-policy {
  color: #7d7d7d;
  font-size: 14px;
}

.total-check-policy {
  margin-left: 3px;
  text-decoration: underline !important;
  text-decoration-color: #000;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.cart-info-blocks-form {
  padding: 47px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.cart-info-block-input-fio {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-info-blocks-input > p {
  font-size: 20px;
  margin-bottom: 30px;
}

.cart-info-blocks-input-general {
  width: 100%;
  height: 46px;
  border: 1px solid #7d7d7d;
  outline: none;
  border-radius: 10px;
  color: #000;
  font-size: 14px;
  padding: 0 15px;
}

.cart-info-blocks-input-general.error {
  border: 1px solid #a32a2a;
}

.cart-info-blocks-input-general.error::placeholder {
  color: #a32a2a;
}

.cart-info-blocks-input-general::placeholder {
  color: #7d7d7d;
  font-size: 14px;
}

.cart-info-blocks-input-payment-items {
  border-radius: 10px;
  border: 1px solid #7d7d7d;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-info-blocks-input-payment-items.error {
  border: 1px solid #a32a2a;
}

.cart-info-blocks-payment-item-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-info-blocks-payment-item-value > p {
  font-size: 14px;
  color: #7d7d7d;
  font-weight: 700;
}

.cart-info-blocks-payment-item-value-empty {
  display: none;
}

.cart-info-blocks-payment-item-custom-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #7d7d7d;
  border-radius: 2px;
}

.cart-info-blocks-payment-item-value
  input:checked
  ~ .cart-info-blocks-payment-item-custom-checkbox::before {
  display: block;
}

.cart-info-blocks-payment-item-custom-checkbox::before {
  content: "";
  position: absolute;
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 1px;
  background-color: #7d7d7d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-blocks {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100%;
}

.loader {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 5px solid #7d7d7d;
  border-bottom-color: #f0ad16;
  border-right-color: #f0ad16;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* --------------END cart.php-------------- */
@media (max-width: 768px) {
  .cart-title {
    font-size: 16px;
    margin: 20px 0 20px 0;
  }
  .cart-descr {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .cart-back-to-shopping {
    height: 30px;
    font-size: 12px;
    max-width: 173px;
  }

  /* --------------START cart.php-------------- */
  .cart-info-blocks {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .cart-info-block-products-item-img {
    outline: 1px solid #7d7d7d;
    max-width: 51px;
    width: 100%;
    height: 49px;
  }

  .cart-info-block-products-item-img > img {
    width: 40px;
    height: 40px;
  }

  .cart-info-block-products-item {
    gap: 10px;
  }

  .cart-info-block-products-item-info-title > a {
    font-size: 12px;
    -webkit-line-clamp: 3;
  }

  .cart-info-block-products-item-info-title,
  .cart-info-block-products-item-info-price,
  .cart-count-item {
    font-size: 12px;
  }

  .cart-info-block-products-item-info-price {
    text-align: center;
  }

  .cart-info-block-products-item-info {
    width: 100%;
    flex-direction: row;
    gap: 10px;
  }

  .cart-info-block-products-total-info {
    flex-direction: column;
    gap: 10px;
    max-width: 81px;
    width: 100%;
  }

  .cart-info-block-products-item-info-count {
    grid-template-areas: "minus cart-count plus";
  }

  .cart-info-blocks-form {
    border-top: 1px solid #7d7d7d;
    margin-top: 30px;
    padding-top: 30px;
    gap: 30px;
  }

  .cart-info-blocks-input > p {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .cart-info-blocks-input-general {
    height: 34px;
    padding: 0 20px;
    font-size: 12px;
    border: 1px solid #7d7d7d;
  }

  .cart-info-block-input-fio {
    gap: 10px;
  }

  .cart-info-blocks-input-general::placeholder {
    font-size: 12px;
  }

  .total {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #7d7d7d;
  }

  .total-blocks {
    display: flex;
    flex-direction: column-reverse;
  }

  .total-blocks-finish-title {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .total-checkbox-wrapper {
    margin-bottom: 15px;
  }

  .total-blocks-finist-item-value,
  .total-blocks-finist-item-price {
    font-size: 12px;
  }

  .total-check-icon {
    width: 14px;
    height: 14px;
    border: 1px solid #7d7d7d;
    margin-right: 10px;
  }

  .total-check-icon::before {
    width: 7px;
    height: 7px;
  }

  .total-checkbox-label-text-agree,
  .total-check-policy {
    font-size: 12px;
  }

  .total-blocks-btn {
    gap: 10px;
  }

  .total-blocks-btn > button {
    height: 30px;
    font-size: 12px;
  }

  .cart-info-blocks-input-payment-items {
    border: 1px solid #7d7d7d;
  }

  .cart-info-blocks-payment-item-value > p {
    font-size: 12px;
  }

  .cart-info-blocks-payment-item-custom-checkbox {
    width: 14px;
    height: 14px;
    border: 1px solid #7d7d7d;
  }

  .cart-info-blocks-payment-item-custom-checkbox::before {
    width: 7px;
    height: 7px;
  }

  .loader {
    width: 50px;
    height: 50px;
    border: 3px solid #7d7d7d;
    border-bottom-color: #f0ad16;
    border-right-color: #f0ad16;
  }
  /* --------------END cart.php-------------- */
}
